.all-products-container {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.all-products-section {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .all-products-section > *:first-child {
    position: sticky;
    top: 20px;
    height: fit-content;
    flex-shrink: 0;
  }
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-left: 0;
  list-style: none;
  margin-top: 16px;
}

@media screen and (max-width: 991px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .products-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.no-products-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.no-products-img {
  width: 250px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .no-products-img {
    width: 459px;
    height: 315px;
  }
}

.no-products-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .no-products-heading {
    font-size: 24px;
  }
}

.no-products-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .no-products-description {
    font-size: 18px;
    max-width: 466px;
  }
}

.products-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}

.products-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .products-failure-img {
    width: 400px;
    height: 350px;
  }
}

.product-failure-heading-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .product-failure-heading-text {
    font-size: 24px;
  }
}

.products-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .products-failure-description {
    font-size: 18px;
    max-width: 466px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}