.product-item {
  list-style-type: none;
  margin-bottom: 24px;
  flex: 0 1 calc(33% - 20px);
  min-width: 200px;
  max-width: 280px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-item {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    width: 100%;
    margin-right: 0px;
  }
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.thumbnail {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 6px;
  background-color: #f8f8f8;
  padding: 10px;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.brand {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 14px;
  margin-bottom: 6px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding: 4px 12px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 16px;
  width: 16px;
  margin-bottom: 2px;
}
